main {
    background-color: lightgray;
    margin: 30px 0;
    font-family: sans-serif;
    font-weight: 300;
    text-align: center;
    box-sizing: border-box;
    line-height: 30px;
}

#title {
    font-size: 42px;
    padding-top: 10px;
    text-align: center;
}

#main p {
    font-size: 22px;
    text-align: center;
    padding-top: 0;
}

img {
    width: 100%;
    height: auto;
}

#image-cap {
    font-size: 16px;
    color: gray;
}

#tribute-info li {
    list-style-type: none;
    text-align: left;
}

footer {
    line-height: 0;
}

footer h2 {
    text-align: center;
    padding: 20px 0 10px 0;
}

#link {
    margin-top: 50px;
}